---
name: Build Devcontainer

on:
  schedule:
    - cron: "0 7 * * 3"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".devcontainer/**"
      - "devcontainer/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push devcontainer image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          push: always
          configFile: .devcontainer/Ubuntu/devcontainer.json

  test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: ghcr.io/${{ github.repository }}/devcontainer
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      # Run using the runner user.
      options: --user=1001

    steps:
      - name: Check asdf availability
        run: |
          gh repo view
        shell: bash
